body{
    font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
    margin: 0;
    padding: 0;
}

.icon-bar{      /*改变折叠菜单按钮的颜色*/
    background-color: #6f9c92;
}

.titleword{
    color:#6f9c92;
}
.nav li{
    font-size: 18px;
}
.navbar a{
    color:#362e2b;
}
.sub_title{
    color:#6f9c92;
    text-align: center;
}
.sub_title_white{
    color:#fff;
    text-align: center;
}
.nav .active{
    background-color: #6f9c92;
}
.nav .active a{
    color:#fff;
}

/*内容容器 圆角边框 单独背景色*/
.main{
    width: 80%;
    margin: 0 auto;
    padding: 35px;
    background-color: #e7eeed;
    /*border:1px solid #6f9c92;*/
    border-radius:25px; /*圆角*/
    -moz-border-radius:25px;    
    opacity:0.7;        /*背景透明度为*/
    filter:alpha(Opacity=70);   /*适用老版本浏览器*/
}
.main_list{
    width: 50%;
}
.more{
    clear: both;
    display: block;
    /*color: #fff;*/
    /*background-color: #6f9c92;*/
    margin-right: 20px;
    float: right;
    margin-top: 20px;
    font-size: 20px;
}
/*end*/
/*有logo的banner*/
.logo_area{
    width: 100%;
    min-height: 350px;
    background-color: #e7eeed;
    padding: 20px;
}
.logo_area img{
    display: block;
    width: 220px;
    /*height: 300px;*/
    margin: 0 auto;
}
/*end*/

/*图片轮播*/
.carousel{
    min-height:330px; 
    text-align: center;

}
.carousel .item{
    height: 330px !important;
    margin: 0 auto;

}
.line{
    display: block;
    width: 50px;
    margin: 0 auto;
    clear: both;
}
.clear{
    clear:both;
}


.navbar-nav a:hover{  
     background-color: #6f9c92 !important; 
} 

/*人物名片*/
.memberCard{
    text-align: center;
}
.memberCard p{
    font-weight: bold;
    font-size: 17px;
}
.divider{   /*分割线*/
    width: 100px;
    height: 1px;
    margin: 0 auto;
    background-color: #6f9c92;
}

.order{
    min-height:600px; 
}
.order a{
    display: block;
    width: 120px;
    margin: 0 auto; 
}
.list{
    text-align: center;
    list-style: none;
    line-height: 45px;
}
.list a{
    text-decoration: none;
    color: #6f9c92;
    font-size: 20px !important;
}
.list .tit{
    display: block;
    clear: right;
    float: left;
    
}
.list .operateBtn{
    /*clear: right;*/
    float: right;
}



footer{
    clear:both;
	width: 250px;
	margin: 60px auto;
	font-size: 15px;
    color: #6f9c92;
}
.intro{
	margin: 40px 0;
	text-align: center;
	line-height: 80px;
    /*min-height: 150px;*/
}
.header{	/*头部 渐变色背景*/
	color: #fff;
	padding: 10px;
    width: 100%;
    /*min-height: 350px;*/
    /* background: #32d1ac;
    background: -moz-linear-gradient(-45deg, #32d1ac 0%, #4a90e2 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #32d1ac), color-stop(100%, #4a90e2));
    background: -webkit-linear-gradient(-45deg, #32d1ac 0%, #4a90e2 100%);
    background: -o-linear-gradient(-45deg, #32d1ac 0%, #4a90e2 100%);
    background: -ms-linear-gradient(-45deg, #32d1ac 0%, #4a90e2 100%);
    background: linear-gradient(135deg, #32d1ac 0%, #4a90e2 100%); */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32d1ac', endColorstr='#4a90e2', GradientType=1);*/
}

#addFail{
    color:#B22222;
}
#addSuccess{
    color: #48D1CC;
}